html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }

  .button-style {
    font-size: 20px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
  }

 

  

  